<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mr / Mrs,</h1>
    <p>
     We announce you that the You
    <p>Have been choosed as Team <%=@team.name%> OWNER</p>
    <p>Thanks for being Dive into code application user !</p>
  </body>
</html>
