<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Mr / Mrs,</h1>
    <p>
     We announce you thatthe Agenda 
      <p>The agenda <%= @agenda.title %> has been delete
    </p>
    <p>By <%= @user.email %> .</p>
    <p>Thanks for being Dive into code application user !</p>
  </body>
</html>
